body {
  margin: 0;
  text-align: center;
  font-family: 'League Spartan', sans-serif;
}

h1 {
  color: #4B8A6E;
  font-size: 3.25rem;
  margin: 50px auto 0 auto;
  font-family: 'Permanent Marker', cursive;
}

h2 {
  color: #4B8A6E;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #1A5F7A;
  font-family: 'Playfair Display', serif;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
}

hr {
  border: dotted #D1D1D1 6px;
  width: 2%;
  border-bottom: none;
  margin: 60px auto;
}

a {
  color: #1A5F7A;
  font-family: 'Playfair Display', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #D1D1D1;
}

.top {
  background-color: #EFFFFD;
  position: relative;
  padding-top: 100px;
}

.middle {
  background-color: #F9F9F9;
}

.bottom {
  background-color: #4B8A6E;
  padding: 10px 0 10px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  height: 80px;
  width: 140px;
  position: absolute;
  top: 20px;
  right: 600px;
}

.bottom-cloud {
  height: 80px;
  width: 140px;
  position: absolute;
  bottom: 300px;
}

.mountain {
  position: relative;
  top: 5px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  font-weight: 900;
}

.skill1 {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.skill2 {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.descriere {
  font-weight: 900;
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 20px;
}

.copyright {
  color: #EFFFFD;
  font-size: 0.90rem;
}

.btn {
  background: #4D8A6F;
    background-image: -webkit-linear-gradient(top, #4D8A6F, #335C4A);
    background-image: -moz-linear-gradient(top, #4D8A6F, #335C4A);
    background-image: -ms-linear-gradient(top, #4D8A6F, #335C4A);
    background-image: -o-linear-gradient(top, #4D8A6F, #335C4A);
    background-image: -webkit-gradient(to bottom, #4D8A6F, #335C4A);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    font-weight: 100;
    padding: 12px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #335C4A 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 50px;
}

.btn:hover {
  border: solid #335C4A 1px;
  background: #5D957D;
  background-image: -webkit-linear-gradient(top, #5D957D, #73A991);
  background-image: -moz-linear-gradient(top, #5D957D, #73A991);
  background-image: -ms-linear-gradient(top, #5D957D, #73A991);
  background-image: -o-linear-gradient(top, #5D957D, #73A991);
  background-image: -webkit-gradient(to bottom, #5D957D, #73A991);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  margin-bottom: 50px;
}
